.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .sign-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        form {
            width: 90%;
        }

        .form-input {
            width: 91%;
            margin-left: 15px;
        }

        .form-input-label {
            margin-left: 15px;
        }

        .custom-button {
            min-width: 130px;
            margin-left: 26px;
        }

        .google-sign-in {
            margin-right: 100px;
        }
    }
}