.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    //important for all the position:absolute buttons to be in the box
    position: relative;
    margin: 0 3px;
    box-shadow: 0 2px 6px 0px rgb(146, 141, 141);
    border-radius: 8px;
  
    .image {
      width: 100%;
      height: 90%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .custom-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      // hide buttons initially
      display: none;
     }

    &:hover {
      .image {
        opacity: 0.8;
      }

      .custom-button {
        opacity: 0.85;
        //display button
        display: flex;
      }
    }
  
  
    .collection-footer {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-left: 10px;
      }
  
      .price {
        width: 10%;
        text-align: center;
      }
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .collection-item {
      width: 40vw;
      height: 250px;
       
      .custom-button {
        display: block;
        opacity: 0.7;
        min-width: unset;
        padding: 0 10px;
        position: absolute;
        top: 180px;
        left: 8px;
        height: 30px;
        font-size: 13px;
        line-height: unset;
      }

      &:hover {
        .image {
          opacity: unset;
        }

        .custom-button {
          opacity: unset;
        }
      }

      .collection-footer {
        width: 100%;
        height: 5%;
        font-size: 12px;
    
        .name {
          margin-left: 8px;
        }
    
        .price {
          margin-right: 8px;
        }
      }
    }
  }